.box{ margin: auto; text-align: center;}


select{background: rgb(255, 234, 165);  width: 150px; height: 30px; margin-top: 30px ;   font-size: 16px;     }

table{background: rgb(255, 234, 165);  margin: auto;   border-spacing: 5px;}

table, th, td {   border: 2px solid black;    padding: 5px; font-size: 28px;  }

th, td{padding-left:  10px; padding-right:  10px;}
th:hover, td:hover{box-shadow: 0 0 15px rgb(24, 50, 177) inset;}

table input[type=checkbox] { zoom: 1.7;}
table input[type=number] { width: 250px;    height: 35px;   font-size: 22px;    padding: 5px;}