*{margin: 0;    padding: 0; box-sizing: border-box;}
.thanh{ width: 180px; height: 180px;border: 5px double black; border-radius: 50%;  text-align: center;  position: fixed;    bottom: 50%; left: 10px;}
.thanh img{ width: 100%; height: 100%; overflow: hidden; border-radius: 50%;}
.thanh button{margin: 8px; width: 160px; height: 30px; border-radius: 15px;}
.thanh button:hover{box-shadow: 0 0 25px gold inset;}

header{height: 70px;    border: 1px solid gold; background: #000;   text-align: center;   margin-bottom: 40px;}
header button{  margin: 15px; width: 200px; height: 40px; border-radius: 15px;}
header button.a:hover{ background: greenyellow;}
header button.bh:hover{ background: gold;}
header button.dk:hover{ background: red;}

.wrapper{background: #FFF;  width: 100%; margin: auto;   border: 1px solid gray;   border-radius: 30px; text-align: center; position: relative; }
.wrapper:hover{box-shadow: 0 0 15px gold;}
.wrapper img{   width: 80%; height: 92%; margin-top: 10px;}

.wrapper button.bt{   width: 120px; height: 40px; position: absolute;    top: 100%; left: 35%; border-radius: 10px; background: rgb(252, 158, 235);}
.wrapper button.prev:hover{ background: rgb(65, 183, 238); transition: 1s;}
.wrapper button.next{   width: 60px; height: 60px; position: absolute;    top: 40%; right: 5px; border-radius: 50%; background: rgb(252, 158, 235);}
.wrapper button.next:hover{ background: rgb(65, 183, 238); transition: 1s;}
.wrapper p#index{font-size: 26px; color: white; position: absolute; bottom: 0px;    left: 45%; color: #000;}

.container{
    border: 1px solid #ccc;
    margin-top: 29%;
}

footer{text-align: center; background: #000; height: 50px; margin-top: 40px; border: 1px solid gold; padding-top: 10px;}
footer h2{color: white;}